<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo">Web Tracker</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/add-job">Schedule</a></li>
      <li><a href="/add-flexitank">Add Flexitank</a></li>
      <li><a href="/add-user">Add User</a></li>
      <li><a href="/add-team">Add Team</a></li>

    </ul>
  </div>
</nav>

<!-- 
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>
         -->